---
layout: home
title: Home
description: We support independent wikis. Putting wiki management back to communities. Not corporations.
body_class: home-template
---

<div class="glass-section">
  <h1 class="mp-header">Supporting <em>Independent</em> Roblox Wikis</h1>
  <p class="align-center">We assist wikis with their work and ensure communities are at the frontier of control.</p>
  <p class="align-center">
    <a href="{{ "/about/" | relative_url }}" class="glass-button small">
      Our Mission
      <span class="material-symbols-outlined">arrow_forward</span>
    </a>
    <a href="{{ "/joining/" | relative_url }}" class="glass-button small" style="--hue: 330">Join Us</a>
  </p>
</div>
<table style="border: none; border-collapse: collapse; width: 100%;">
  <tbody>
    <tr style="border: none;">
      <td style="width: 33.3%; border: none;"><strong>6.7K+ pages<br></strong><em>across all wikis</em></td>
      <td style="width: 33.3%; border: none;"><strong>200+ wikis<br></strong><em>using our extension</em></td>
      <td style="width: 33.3%; border: none;"><strong>214K+ edits<br></strong><em>across all wikis</em></td>
    </tr>
  </tbody>
</table>
<h1 class="align-center">Working with <a href="{{ "/members/" | relative_url }}">members</a> from</h1>
<p> </p>
<div class="logo-carousel">
  <div class="logo-track align-center">
    {% for member in site.data.members limit: 10 %}
    <div class="logo-slide">
      <a href="{{ member.link }}" target="_blank" rel="noopener">
        <figure class="align-center">
          <img loading="lazy" src="{{ member.logo | relative_url }}" alt="{{ member.name }} Logo" width="100" height="100">
        </figure>
      </a>
    </div>
    {% endfor %}
    {% for member in site.data.members limit: 8 %}
    <div class="logo-slide">
      <a href="{{ member.link }}" target="_blank" rel="noopener">
        <figure class="align-center">
          <img loading="lazy" src="{{ member.logo | relative_url }}" alt="{{ member.name }} Logo" width="100" height="100">
        </figure>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<blockquote>
  <p>Our mission is to help <strong>support and help independent wikis find their footing</strong> in this ever challenging environment. We provide support, develop tools and help emerging wikis find their independent wiki space.  </p>
</blockquote>
<figure class="post__image"><img loading="lazy" src="{{ "/media/promofiles/SEWH_on_macbook.png" | relative_url }}" alt="" width="1000"></figure>
<!-- <figure class="post__image"><img loading="lazy" src="{{ "/media/posts/7/1737386088521-ultra-nize.png" | relative_url }}" alt="" width="1000" height="750"></figure>
<figure class="post__image"><img loading="lazy" src="{{ "/media/posts/7/1737385567463-nizenberg.png" | relative_url }}" alt="" width="1000" height="750"></figure>
<figure class="post__image"><img loading="lazy" src="{{ "/media/posts/7/1737385719733-mega-nize.png" | relative_url }}" alt="" width="1000" height="750"></figure> -->
<hr>
<p class="align-center">
  <a href="https://discord.com/invite/74qrU7qBqx" class="btn">Discord Server</a>
  <a href="{{ "/projects/" | relative_url }}" class="btn">Our Projects </a>
  <!-- <a href="{{ "/joining/" | relative_url }}" class="btn">Join Us</a> -->
</p>
